VITE_SUPABASE_URL=https://arcvndfmnqcqdjhmfaeh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_3ilImuffsCtY5Sc0dPMaGQ_6MCsZEfN
NEXT_PUBLIC_SUPABASE_URL=https://arcvndfmnqcqdjhmfaeh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_3ilImuffsCtY5Sc0dPMaGQ_6MCsZEfN
